body{
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    font-family: "Bookman Old Style";
    display: flex;
    flex-direction: column;
}

div{
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.8;
    width: 70%;
    margin: 30px 30px 30px 15%;
}

p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}

label{
    margin-left: 25%;
}

input[type="text"], input[type="date"], input[type="password"], input[type="number"], input[type="email"]{
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border: none;
    border-radius: 50px;
    box-align: center ;
    width: 300px;
    box-shadow: 4px 4px 5px 4px rgba(0, 0, 0, 0.3);
    float: right;
    margin-right: 25%;
}

input[type="submit"] {
    background-color: rgb(255, 253, 30);
    padding: 15px;
    border: none;
    border-radius: 50px;
    box-align: center ;
    box-shadow: 4px 4px 5px 4px rgba(0, 0, 0, 0.3);
    margin-left: 42%;
    margin-top: 2%;
}

.center{
    margin-left: 35%;
}
